@media screen and (max-width: 767px){
    .container{
        width: 100%;
    }
    .logo{
        padding-left: 8px;
    }
    nav{   
      display: flex;
      flex-wrap: wrap;
      margin:0px;                     
      padding: 0px;
      list-style-type: none; 
    }
    nav a{
       flex-basis: 50%;
    }
    nav a{
       display: inline-block; 
       font-size: 1.3em;
       padding: 40px 0px; 
       text-decoration: none;  
    }
    h1{
        font-size: 19px;
        padding-left: 20px;
    }
    h1+p{
         margin-top: 15px;
         padding-left: 21px;
    }
    #area-filters{
        width: 365px;
    }
    #filtre{
        display: flex;
        flex-direction: column;
    }
    #filtre+p{
        margin-bottom: 25px;
    }
    #filtre h3{
        font-size: 17px;
    }
    #filtre a{
        font-size: 17px;
    }
    #filtre ul{
        width: 100%;
        display: block;
    }
    #filtre > ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: flex-start;
    }
    #filtre > ul > li{
        margin-bottom: 15px;
    }
    #form{
        margin-top: 31px;
        padding-left: 14px;
    }
    .fa-search{
        color: #FFF;
        font-size: 15px;
    }
    button{
        color: #FFF;
        background-color: #0065FC;
        display: inline-block;
        width: 51px;
        padding: 18px;
        border-radius: 27%;
        margin-left: -20px;
        border: none;/*pour enlever la bordure noir*/
    }
    input[type=search]{
        width: 74%;
    }
    input[type=submit]{
        display: none;
    }
    .area-filters{
        padding-bottom: 22px;
    }
    #area-filters h3{
        padding-left: 25px;
        margin-bottom: 5px;
    }
    #area-filters > div{
        margin-left: 16px;
        margin-right: 0;
    }
    .fa-info{
        font-size: 12px;
        padding: 5px 8px;
        margin-right: 14px ;
        margin-left: 19px;
        color: #0065FC;
        border: 1px solid #D4EAFF;
        border-radius: 50%;
        display: inline-block;
    }
    .icon-info{
        display: inline-block;
        float: left;
        height: 33px;
    }
    .marge-info{
        display: inline;
    }
    .sinscrire{
        order: 2;
        text-align: right;
        padding-right: 10px;
    }
    .hebergements{
        order: 3;
        text-align: center;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .hebergements:hover{
        display: none;
    }
    .activites:hover{
        display: none;   
    }
    .activites{
        order:4;
        text-align: center;
    }
    #hebergement{
        padding-top: 10px;
    }
    #hebergement section h2{
        padding-left: 9px;
        margin-top: 0;
    }
    #hebergement section,aside{
        padding: 14px 16px 4px 14px;
        border-radius: 0;
        margin-top: 26px;
        margin-bottom: 0;
    }
    #hebergement ul > li {
        margin-bottom: 16px;
    }
    #hebergement > section > a {
        padding-left: 16px;
    }
    #hebergement img{
        height: 168px;
    }
    aside .stars {
        margin-top: 24%!important;
    }
    aside .coeur {
        margin-top: 26%!important;
    }
    aside li {
        height: 174px;
    }
    #activites {
        margin:0;
    }
    #activites h2{
        padding-left: 0;
        padding-bottom: 0;
        margin-top: 46px ;
    }
    #activites img{
        height: 225px;
        border-radius: 23px 26px 0 0;
    }
    #activites > div{
        margin-right: 20px;
    }
    #activites>div>figure img{
        height: 225px;
    }
    #activites>div>figure{
        width: 100%;
        margin-bottom: 30px;
    }
    figcaption{
        padding: 2px 10px 21px 25px;
    }
    #footer{
        display: flex;
        flex-direction: column; 
    }
    #footer> .a> ul{
        padding-left: 29px;
    }
    #footer> .b> ul{
       padding-left: 29px;
    }
    #footer> .c> ul{
       padding-left: 29px;
    }
    }
    
    
     
    
    
    
    
    
    
    
    
    