@media screen and (max-width: 1024px){
    .logo{
        flex-basis: 37%;
    }  
    #form {
       margin-left: 0;
    }
    #area-filters{
        width: 75%;
        display: block;
    }
    #filter{
       margin-left: 0;
    }
    #hebergement section{
        margin-right: 41px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white!important;
    }
    #hebergement > section > a {
        padding-left: 18px;
    } 
    #hebergement section h2{
        padding-left: 6px;
    }
    #hebergement section,aside{
        padding: 12px 16px 30px 17px;
        background-color: #F0F0F0;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    #hebergement{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    #hebergement img{
        height: 289px;
    }
    #hebergement ul {
        flex-direction: column;
    }
    #hebergement ul > li {
        flex-direction: column;
        width: 100%;
        box-shadow: 10px 10px 15px #f0f0f0;
    }
    aside{
        margin-left: 0;
        width: 100%;
    }
    aside li{
        width: 100%;
        height: 294px ;
    }
    aside img + div{
        padding-top:3%;
    }
    aside .stars{
        margin-top: 90%!important;
    }
    aside .coeur{
        margin-top: 92%!important;
    }
    #activites > div > figure { 
        width: 100%;
        margin-bottom: 40px;
    }
    #activites > div > div{
      width: 100%;
    }
    #activites figure{
    margin: 0 0 40px;
    box-shadow: 0 0 7px 4px #f0f0f0;
    }
    #activites > div{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 17px;
    }
    #activites img{
       padding-top: 0; 
       height: 300px;
       margin: 0 0 20px;
    }
    #activites> div> figure img{
            height: 300px;
    }
    #activites h2{
        margin-bottom: 30px;
        margin-top: 40px;
        margin-left: 30px;
    }
    figcaption{
        padding: 0px 10px 24px 25px;
    }
    #footer{
        display: flex;
    }
    }
    